@page "/"
@using Harmony.Application.DTO;
@using Harmony.Client.Shared.Modals;
@using Harmony.Shared.Utilities;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> _localizer

@if (_displayDefaultHome)
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Harmony</MudText>
        <MudText Align="Align.Center">Welcome to the most promising <b>Project Management Tool</b> ever existed. Build as many workspaces, Kanban boards and Scrum projects as you wish!</MudText>
        <MudGrid Class="mt-8">
            <MudItem xs="12" sm="6" md="4">
                <MudCard Elevation="25" Class="rounded-lg pb-4">
                    <MudCardContent>
                        <div class="d-flex justify-center">
                            <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">Workspaces</MudText>
                        </div>
                        <MudList Class="mx-auto mt-4" Style="width:300px;">
                            <MudListItem Icon="@Icons.Material.Filled.Workspaces">
                                Create as many workspaces as you want
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Share">
                                Share the workspace with registered users
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.AddTask">
                                Start adding boards or scrum projects to your workspaces
                            </MudListItem>
                        </MudList>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                   OnClick="OpenCreateWorkspaceModal"
                                   Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudCard Elevation="25" Class="rounded-lg pb-4">
                    <MudCardContent>
                        <div class="d-flex justify-center">
                            <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">Kanban boards</MudText>
                        </div>
                        <MudList Class="mx-auto mt-4" Style="width:300px;">
                            <MudListItem Icon="@Icons.Material.Filled.ViewKanban">
                                Build as many <b>Kanban</b> boards as you wish
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Share">
                                Share your boards with your team members
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.List">
                                Create, edit & assign lists and tasks
                            </MudListItem>
                        </MudList>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                   OnClick="OpenCreateWorkspaceModal" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="12" md="4">
                <MudCard Elevation="25" Class="rounded-lg pb-4">
                    <MudCardContent>
                        <div class="d-flex justify-center">
                            <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">Scrum Projects</MudText>
                        </div>
                        <MudList Class="mx-auto mt-4" Style="width:300px;">
                            <MudListItem Icon="@Icons.Material.Filled.Update">
                                Be <b>agile</b> and create as many scrum projects as you wish
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Assignment">
                                Create teams and assign projects to them
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Monitor">
                                Create iterations and monitor your team's progress
                            </MudListItem>
                        </MudList>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled"
                                   OnClick="OpenCreateWorkspaceModal" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
}
@code {
    private bool _displayDefaultHome = false;

    protected override void OnInitialized()
    {
        var workspace = _workspaceManager.SelectedWorkspace;

        if (workspace != null)
        {
            var slug = StringUtilities.SlugifyString(workspace.Name);
            _navigationManager.NavigateTo($"workspaces/{workspace.Id}/{slug}");
        }
        else
        {
            _displayDefaultHome = true;
        }
    }

    private async Task OpenCreateWorkspaceModal()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<CreateWorkspaceModal>(_localizer["Create Workspace"], parameters, options);

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var workspace = result.Data as WorkspaceDto;
            if (workspace != null)
            {
                Navigate(workspace);
            }
        }
    }

    private void Navigate(WorkspaceDto workspace)
    {
        if (string.IsNullOrEmpty(workspace?.Name))
        {
            return;
        }

        var slug = StringUtilities.SlugifyString(workspace.Name);
        _navigationManager.NavigateTo($"workspaces/{workspace.Id}/{slug}");
    }
}
