@page "/projects/{id}/sprints"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Sprints> _localizer
@using Harmony.Application.Features.Boards.Queries.GetBacklog
@using Harmony.Application.Features.Boards.Queries.GetSprints
@using Harmony.Client.Infrastructure.Helper

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>

<MudPaper>
    <MudTable Hover="true" Breakpoint="Breakpoint.Sm" Height="500px" FixedHeader="true"
              T="GetSprintCardResponse"
              ServerData="@(new Func<TableState, Task<TableData<GetSprintCardResponse>>>(ReloadData))" Dense="true" Striped="true"
              GroupBy="@_groupDefinition"
              GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
              GroupFooterClass="mb-4"
              @ref="_table">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                <MudButton EndIcon="@Icons.Material.Outlined.AddCard" ButtonType="ButtonType.Button"
                           Variant="Variant.Filled" Color="Color.Default" OnClick="CreateSprint">Create sprint</MudButton>
            </div>
            <MudSpacer />
            <MudTextField T="string" DebounceInterval="300" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Clearable="true" Placeholder="Search sprints.." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 60px;" />
            <col />
            <col />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh>Serial Key</MudTh>
            <MudTh>Title</MudTh>
            <MudTh>Type</MudTh>
        </HeaderContent>
        <GroupHeaderTemplate>
            <MudTh Class="mud-table-cell-custom-group" colspan="5">@($"{context.GroupName}: {context.Key}") </MudTh>
        </GroupHeaderTemplate>
        <RowTemplate>
            <MudTd DataLabel="Serial Key">@context.CardSerialKey</MudTd>
                <MudTd DataLabel="Title">@context.CardTitle</MudTd>
                <MudTd DataLabel="Type">
                    <MudStack Row="true">
                        @if (context.CardIssueType != null && context.CardId.HasValue)
                    {
                        <MudIcon Icon
                        ="@ColorHelper.GetIssueTypeIcon(context?.CardIssueType?.Summary)"
                        Color="ColorHelper.GetIssueTypeColor(context?.CardIssueType?.Summary)" />
                        <MudText>@context?.CardIssueType?.Summary</MudText>
                    }
                    </MudStack>
                </MudTd>
            </RowTemplate>
            <GroupFooterTemplate>
                <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer" colspan="5">Total items: </MudTh>
            </GroupFooterTemplate>
        </MudTable>
    </MudPaper>