@page "/workspaces/{id}/{name}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Workspace> _localizer

@if (_userBoardsLoading)
{
    <Loader />
}
else if(!_userBoards.Any())
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Empty workspace :(</MudText>
        <MudText Align="Align.Center">Looks like this workspace is currently empty. Here's a few suggestions to help you start with.</MudText>
        <MudGrid Class="mt-8 d-flex justify-center">
            <MudItem xs="12" sm="6">
                <MudCard Elevation="25" Class="rounded-lg pb-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">@Name</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="d-flex justify-center">
                            <MudText Typo="Typo.h5" Color="Color.Secondary">Add a board</MudText>
                        </div>
                        <MudList Class="mx-auto mt-4">
                            <MudListItem Icon="@Icons.Material.Filled.Dashboard">
                                Select <b>Create</b> -> <b>Create Board</b> and add a board to your workspace
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.List">
                                Create some basic board lists to track your project's progress. e.g. <i>TODO</i>, <i>IN PROGRESS</i>, <i>REVIEW</i> & <i>DONE</i>
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Share">
                                Share your board with your team members 
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.Task">
                                Add tasks to your lists and start monitor your project!
                            </MudListItem>
                        </MudList>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;"
                                   OnClick="OpenCreateBoardModal">Start Now</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
}
else
{
    <MudGrid>
        @foreach (var board in _userBoards)
        {
            <MudItem xs="12" sm="6" md="4" Class="cursor-pointer" @onclick="() => NavigateToBoard(board)">
                <MudCard>
                    <MudCardHeader Class="pb-0">
                        <CardHeaderContent>
                            <MudStack>
                                <MudText Typo="Typo.h5">@board.Title</MudText>
                            </MudStack>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudTooltip Text="Visibility">
                                <MudChip Icon="@Icons.Material.Filled.Visibility" IconColor="GetVisibilityColor(board.Visibility)">@board.Visibility</MudChip>
                            </MudTooltip>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">@board.Description</MudText>
                        <MudDivider />
                        @if (_boardActivities != null && _boardActivities.Any())
                        {
                            <MudTimeline TimelineOrientation="TimelineOrientation.Vertical" 
                            TimelinePosition="TimelinePosition.Start" Reverse="false">
                                @foreach(var activity in _boardActivities)
                                {
                                    <MudTimelineItem Color="Color.Success" Variant="Variant.Outlined">
                                        <ItemContent>
                                            <MudAlert Severity="Severity.Normal"><b>@activity.Actor</b> @((MarkupString)activity.Activity)</MudAlert>
                                        </ItemContent>
                                        <ItemOpposite>
                                            <MudText Color="Color.Default">@activity.DateCreated.ToShortDateString()</MudText>
                                        </ItemOpposite>
                                    </MudTimelineItem>
                                }
                            </MudTimeline>
                        }
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}