@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> _localizer

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="@GetWrapperClasss()">
    <AuthorizeView>
        <NotAuthorized>
            <MudAppBar Elevation="4" Color="Color.Primary">
                <MudSpacer />
                <MudMenu Icon="@Icons.Material.Filled.Palette" Color="Color.Default">
                    <MudMenuItem AutoClose="false">
                        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                    </MudMenuItem>
                    <MudMenuItem AutoClose="false">
                        <MudSwitch @bind-Value="@_transparentBackground" Label="Transparent" Color="Color.Success" />
                    </MudMenuItem>
                </MudMenu>
            </MudAppBar>
            <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
                <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
                    @Body
                </MudPaper>
            </MudContainer>
        </NotAuthorized>
        <Authorized>
            <MudLayout>
                <MainBody OnDarkModeToggle="@DarkMode" OnTransparentModeToggle="@TransparentMode">
                    @Body
                </MainBody>
            </MudLayout>
        </Authorized>
    </AuthorizeView>
</div>