@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> _localizer

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="@GetWrapperClasss()">
    <AuthorizeView>
        <NotAuthorized>
            <MudAppBar Elevation="4" Color="Color.Primary">
                <MudSpacer />
                <MudMenu Icon="@Icons.Material.Filled.Palette" Color="Color.Default">
                    <MudMenuItem AutoClose="false">
                        <MudSwitch @bind-Value:get="@_darkMode" @bind-Value:set="@((isDark) => SetMode(isDark))" Label="Dark mode" Color="Color.Success" />
                    </MudMenuItem>
                    <MudMenuItem AutoClose="false">
                        <MudSwitch @bind-Value:get="@_blendUIEnabled"
                                   @bind-Value:set="@((blendUiEnabled) => SetBlendUi(blendUiEnabled))" Label="Blend UI" Color="Color.Success" />
                    </MudMenuItem>
                </MudMenu>
            </MudAppBar>
            <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
                <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
                    @Body
                </MudPaper>
            </MudContainer>
        </NotAuthorized>
        <Authorized>
            <MudLayout>
                <MainBody
                    DarkModelEnabled="_darkMode"
                    BlendUiEnabled="_blendUIEnabled"
                    OnDarkMode="@((isDark) => SetMode(isDark))" 
                    OnBlendUI="@((blendUiEnabled) => SetBlendUi(blendUiEnabled))">
                    @Body
                </MainBody>
            </MudLayout>
        </Authorized>
    </AuthorizeView>
</div>