@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> _localizer 

<MudAppBar Elevation="25">
    <MudLink Href="/" Color="Color.Inherit">Harmony</MudLink>
    <MudToolBar DisableGutters="true">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
    </MudToolBar>
    <WorkspaceSelector />
    <MudSpacer />
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <AppSearch />
        <CreateWorkspaceBoard />
        @* <LanguageSelector /> *@
        <MudTooltip Text="Toggle Dark Mode">
            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => ToggleDarkMode())" />
        </MudTooltip>
      @*   <MudTooltip Text="Fork Repository">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/chsakell/harmony" Target="_blank" />
        </MudTooltip> *@
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        @* <LanguageSelector /> *@
        <MudMenu Icon="@Icons.Filled.Settings" Color="Color.Inherit" Dense="true">
            <div class="px-2">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => ToggleDarkMode())" />
                    @* <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/chsakell/harmony" Target="_blank" /> *@
            </div>
        </MudMenu>
    </MudHidden>
     <MudMenu Dense="true" Class="mt-1 ml-4" @ref="_menu">
        <ActivatorContent>
            @if (string.IsNullOrEmpty(ImageDataUrl))
            {
                <MudAvatar Color="Color.Secondary">@EmptyAvatarText</MudAvatar>
            }
            else
            {
                <MudAvatar Image="@(_clientConfiguration.GetServerResource(ImageDataUrl))" Style="height:50px; width:50px;"> </MudAvatar>
            }
        </ActivatorContent>
        <ChildContent>
            <UserCard Class="mt-n2" ImageDataUrl="@ImageDataUrl" />
            <MudDivider Class="mb-2" />
            <MudListItem Text="Account" Icon="@Icons.Material.Outlined.Person" OnClick="ViewAccount" />
            <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="Logout" />
        </ChildContent>
    </MudMenu>
</MudAppBar>
<MudDrawer Class="mud-background-gray" @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
    <NavMenu ImageDataUrl="@ImageDataUrl" />
</MudDrawer>
<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
        <CascadingValue Value="hubConnection">
            @ChildContent
        </CascadingValue>
    </MudContainer>
</MudMainContent>