@using Harmony.Domain.Enums;
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditCardLabelsModal> _localizer

<EditForm Model="@_cardLabels">
    <DataAnnotationsValidator />
    <MudDialog>
        <TitleContent>
            @{
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Filled.Label" Class="mr-3 mb-n1" />
                    @_localizer["Edit card labels"]
                </MudText>
            }
        </TitleContent>
        <DialogContent>

            <MudStack>
                @foreach (var label in _cardLabels)
                {
                    <MudPaper>
                        <MudStack Row="true">
                            <MudPaper Width="120px"
                                      Style="@($"color:{Colors.LightGreen.Accent3}; background-color:{label.Colour};")"></MudPaper>
                            <EditableTextField For="@(() => label.Title)"
                                               OnSave="(labelTitle) => UpdateLabelTitle(label, labelTitle)"
                                               Text="@label.Title" Label="@_localizer["Title"]" />
                            <div class="d-flex align-center">
                                <MudCheckBox @bind-Checked="@label.IsChecked" Dense="true" Color="Color.Success"></MudCheckBox>
                            </div>
                            <div class="d-flex align-center">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
                            </div>
                        </MudStack>
                    </MudPaper>
                }
            </MudStack>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" OnClick="Cancel">@_localizer["Cancel"]</MudButton>
            <MudButton Disabled="@(!context.IsModified() || !context.Validate() || _processing)"
                       ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">@_localizer["Processing"]</MudText>
                }
                else
                {
                    <MudText>@_localizer["Create"]</MudText>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>