@using Harmony.Application.DTO
@using Harmony.Application.Features.Lists.Queries.GetBoardLists
@using Harmony.Application.Helpers
@using Harmony.Client.Infrastructure.Helper
@using Harmony.Domain.Enums;
@inject Microsoft.Extensions.Localization.IStringLocalizer<SprintReportsModal> _localizer


<MudDialog>
    <TitleContent>
        @{
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.MultilineChart" Class="mr-3 mb-n1" />
                @_localizer["Sprint reports"]
            </MudText>
        }
    </TitleContent>
    <DialogContent>
        @if (_loading)
        {
            <MudPaper MinHeight="400px">
                <MudOverlay Visible="true" DarkBackground="true" Absolute="true" Style="height:400px">
                    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
                </MudOverlay>
            </MudPaper>
        }
        else
        {
            @if (Reports?.BurnDownReport != null)
            {
                <MudStack>
                    <MudPaper>
                        <MudStack Row="true" Class="justify-start align-center pa-4">
                            <MudText>@Reports.Sprint.Name</MudText>
                                <MudChip Icon="@Icons.Material.Filled.DateRange" Label="true">@CardHelper.DisplayDates(Reports.Sprint.StartDate, Reports.Sprint.EndDate)</MudChip>
                                <b><MudText>Story Points: </MudText></b>
                                <MudChip Icon="@Icons.Material.Filled.Iso" Label="true" Color="Color.Tertiary">
                                    Total: &nbsp;<b>@Reports.TotalStoryPoints</b>
                            </MudChip>
                            @if (Reports.RemainingStoryPoints > 0)
                            {
                                <MudChip Icon="@Icons.Material.Filled.Iso" Label="true" Color="Color.Warning">
                                    Remaining: &nbsp;<b>@Reports.RemainingStoryPoints</b>
                                </MudChip>
                            }
                        </MudStack>

                    </MudPaper>
                    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                        <MudTabPanel Text="BurnDown Chart">
                            <MudChart ChartType="ChartType.Line" ChartSeries="@BurnDownSeries" @bind-SelectedIndex="Index"
                                      ChartOptions="@_options" XAxisLabels="@XAxisBurnDownLabels"
                                      Width="100%" Height="400px"></MudChart>
                        </MudTabPanel>
                        <MudTabPanel Text="Issues Overview">
                            <MudChart ChartType="ChartType.Donut"
                                      Width="100%" Height="400px"
                                      ChartOptions="@_options"
                                      InputData="@Reports.IssuesOverviewReport.TotalIssuesPerType.ToArray()"
                                      InputLabels="@Reports.IssuesOverviewReport.IssueTypes.ToArray()">
                                <CustomGraphics>
                                    <text class="donut-inner-text" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" fill="var(--mud-palette-primary)" font-family="Helvetica" font-size="2">Total Issues</text>
                                    <text class="donut-inner-text" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" fill="var(--mud-palette-primary)" font-family="Helvetica" font-size="5">@Reports.IssuesOverviewReport.TotalIssues</text>
                                </CustomGraphics>
                            </MudChart>
                        </MudTabPanel>
                    </MudTabs>
                    
                </MudStack>
            }
            else
            {
                <MudContainer Class="mt-16">
                    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Reports not available yet :(</MudText>
                    <MudText Align="Align.Center">
                        It looks like the sprint is missing some basic requirements to generate reports..
                        Here's a few suggestions to help you start with.
                    </MudText>
                    <MudGrid Class="mt-8 d-flex justify-center">
                        <MudItem xs="12" sm="8">
                            <MudCard Elevation="25" Class="rounded-lg pb-4">
                                <MudCardContent>
                                    <div class="d-flex justify-center">
                                        <MudText Typo="Typo.h5" Color="Color.Secondary"><b>Story Points</b> are the report's core</MudText>
                                    </div>
                                    <MudList Class="mx-auto mt-4">
                                        <MudListItem Icon="@Icons.Material.Filled.Iso">
                                            Make sure you <b>score</b> your sprint's items using <b>story points</b>
                                        </MudListItem>
                                        <MudListItem Icon="@Icons.Material.Filled.Score">
                                            You can add a <b>score</b> to an item either from the <b>Backlog</b> or the card's view itself
                                        </MudListItem>
                                        <MudListItem Icon="@Icons.Material.Filled.Update">
                                            Ensure that you have configured a <b>start</b> and <b>end</b> date for your sprint!
                                        </MudListItem>
                                        <MudListItem Icon="@Icons.Material.Filled.MultilineChart">
                                            The report will be available as soon as there's an item with story points
                                        </MudListItem>
                                    </MudList>
                                </MudCardContent>
                                <MudCardActions Class="d-flex justify-center">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" OnClick="ViewBacklog" Size="Size.Large" Style="width:50%;">Backlog</MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mx-4" OnClick="ViewBoard" Size="Size.Large" Style="width:50%;">Board</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            }
        }
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>