@page "/projects/{id}/sprints"
@using Harmony.Application.Features.Boards.Queries.GetSprintsSummary
@using Harmony.Domain.Enums
@inject Microsoft.Extensions.Localization.IStringLocalizer<Sprints> _localizer

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>

<MudTable Hover="true" Elevation="25"
          T="SprintSummary"
          Style="height:calc(100vh - 100px);overflow:auto"
          ServerData="@ReloadData" Dense="true" Striped="true" @ref="_table">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <MudButton ButtonType="ButtonType.Button" OnClick="CreateSprint" Variant="Variant.Filled" Color="Color.Default" Style="width: 100%;">CREATE SPRINT</MudButton>
        </div>
        <MudSpacer />
        <MudTextField T="string" DebounceInterval="300" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Clearable="true" Placeholder="Search sprint.." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintSummary, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintSummary, object>(x => x.Status)">Status</MudTableSortLabel></MudTh>
        <MudTh>Date</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintSummary, object>(x => x.TotalCards)">Cards</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintSummary, object>(x => x.StoryPoints)">Story points</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:right"></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="Status">
            <MudChip T="string" Variant="Variant.Outlined" Color="GetSprintStatus(context)">@context.Status</MudChip>
        </MudTd>
        <MudTd DataLabel="Date">
            <MudHighlighter Text="@($"{context.StartDate?.ToString("MMMM dd")} - {context.EndDate?.ToString("MMMM dd")}")" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="TotalCards">
            <MudHighlighter Text="@context.TotalCards.ToString()" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="StoryPoints">
            <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">
                @(context.StoryPoints == 0 ? "-" : context.StoryPoints)
            </MudChip>
        </MudTd>
        <MudTd DataLabel="Actions" Style="text-align:right">
            <MudMenu Label="Actions" AnchorOrigin="Origin.BottomLeft" Variant="Variant.Filled">
                <MudMenuItem OnClick="@(() => EditSprint(context))" IconSize="Size.Small"
                             IconColor="Color.Primary" Icon="@Icons.Material.Filled.Edit">EDIT</MudMenuItem>
                @switch (context.Status)
                {
                    case SprintStatus.Idle:
                        <MudMenuItem OnClick="@(() => StartSprint(context))" IconSize="Size.Small"
                                     IconColor="Color.Tertiary" Icon="@Icons.Material.Filled.Start">START</MudMenuItem>
                        break;
                    case SprintStatus.Active:
                        <MudMenuItem OnClick="@(() => CompleteSprint(context))" IconSize="Size.Small"
                                     IconColor="Color.Tertiary" Icon="@Icons.Material.Filled.Close">COMPLETE</MudMenuItem>
                        break;
                }
                <MudMenuItem OnClick="@(() => ViewReports(context.Id))" IconSize="Size.Small"
                             IconColor="Color.Primary" Icon="@Icons.Material.Filled.MultilineChart">VIEW REPORTS</MudMenuItem>
            </MudMenu>
            <MudIconButton Color="Color.Primary" OnClick="@(() => ViewSprint(context))" Icon="@Icons.Material.Filled.ArrowRight" aria-label="delete"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

