@page "/projects/{id}/sprints"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Sprints> _localizer
@using Harmony.Application.Features.Boards.Queries.GetBacklog
@using Harmony.Application.Features.Boards.Queries.GetSprints
@using Harmony.Application.Features.Boards.Queries.GetSprintsDetails
@using Harmony.Application.Helpers
@using Harmony.Client.Infrastructure.Helper
@using Harmony.Domain.Enums

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>

<MudTable Hover="true" Elevation="25"
          T="SprintDetails"
          ServerData="@(new Func<TableState, Task<TableData<SprintDetails>>>(ReloadData))" Dense="true" Striped="true" @ref="_table">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            @* <MudCheckBox @bind-Checked:get="@_filterMembersOnly" @bind-Checked:set="ToggleFilterMembers" Label="Members only"></MudCheckBox> *@
        </div>
        <MudSpacer />
        <MudTextField T="string" DebounceInterval="300" Immediate="true" ValueChanged="@(s=>OnSearch(s))" Clearable="true" Placeholder="Search user.." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintDetails, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintDetails, object>(x => x.Status)">Status</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintDetails, object>(x => x.StartDate)">Start Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintDetails, object>(x => x.EndDate)">End Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SprintDetails, object>(x => x.TotalCards)"># Cards</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">
            <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="Status">
            <MudHighlighter Text="@context.Status.ToString()" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="StartDate">
            <MudHighlighter Text="@context.StartDate.ToString()" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="EndDate">
            <MudHighlighter Text="@context.EndDate.ToString()" HighlightedText="@_searchString" />
        </MudTd>
        <MudTd DataLabel="TotalCards">
            <MudHighlighter Text="@context.TotalCards.ToString()" HighlightedText="@_searchString" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

