@page "/workspaces/{id}/{name}"
@using Harmony.Client.Infrastructure.Helper;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Workspace> _localizer

@if (_userBoardsLoading)
{
    <Loader />
}
else if (!_userBoards.Any())
{
    <MudContainer Class="mt-16">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Empty workspace :(</MudText>
        <MudText Align="Align.Center">Looks like this workspace is currently empty. Here's a few suggestions to help you start with.</MudText>
        <MudGrid Class="mt-8 d-flex justify-center">
            <MudItem xs="12" sm="8">
                <MudCard Elevation="25" Class="rounded-lg pb-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">@Name</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center">
                                <MudText Typo="Typo.h5" Color="Color.Secondary">Add a Kanban or a Scrum project</MudText>
                            </div>
                            <MudList Class="mx-auto mt-4">
                                <MudListItem Icon="@Icons.Material.Filled.Update">
                                    If you create a Scrum project, start by creating your <b>backlog</b> and the <b>sprints</b>
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.List">
                                    If you create a Kanban project, add some board lists to track your project's progress. e.g. <i>TODO</i>, <i>IN PROGRESS</i>, <i>REVIEW</i> & <i>DONE</i>
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.Share">
                                    Share your board with your team members
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.Task">
                                    Add tasks to your lists and start monitor your project!
                                </MudListItem>
                            </MudList>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;"
                                       OnClick="OpenCreateBoardModal">Start Now</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
}
else
{
    <MudGrid>
        @foreach (var board in _userBoards)
        {
            <MudItem xs="12" sm="6" Class="cursor-pointer" @onclick="() => NavigateToBoard(board)">
                <MudCard>
                    <MudCardHeader Class="pb-0">
                        <CardHeaderContent>
                            <MudStack Row="true">
                                <MudText Typo="Typo.h5">@board.Title</MudText>
                                    <MudText Color="Color.Info" Typo="Typo.body1">[@board.Key]</MudText>
                                </MudStack>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Typo="Typo.h6">@board.Description</MudText>
                            <MudStack Row="true" Justify="Justify.FlexEnd">
                                <MudChip Icon="@Icons.Material.Filled.Visibility" IconColor="ColorHelper.GetVisibilityColor(board.Visibility)">@board.Visibility</MudChip>
                                <MudChip Icon="@(board.Type == Domain.Enums.BoardType.Kanban ? Icons.Material.Filled.Dashboard :  Icons.Material.Filled.Update)" IconColor="ColorHelper.GetBoardTypeColor(board.Type)">@board.Type</MudChip>
                            </MudStack>
                            <MudDivider />
                            <MudTimeline TimelineOrientation="TimelineOrientation.Vertical"
                                         TimelinePosition="TimelinePosition.Start">
                                @foreach (var list in board.Lists)
                            {
                                <MudTimelineItem Size="Size.Medium" Color="@(list.CardStatus == Domain.Enums.BoardListCardStatus.DONE ? Color.Tertiary : Color.Info)" Elevation="25">
                                    <MudCard Outlined="false" Elevation="25">
                                        <MudCardContent>
                                            <MudText Color="Color.Secondary" Typo="Typo.h6">@list.Title</MudText>
                                                @if (list.CardStatus == Domain.Enums.BoardListCardStatus.DONE)
                                            {
                                                <MudText Typo="Typo.body2">There are <strong>@list.Cards.Count</strong> completed issues.</MudText>
                                            }
                                            else
                                            {
                                                <MudText Typo="Typo.body2">There are <strong>@list.Cards.Count</strong> active issues.</MudText>
                                            }
                                        </MudCardContent>
                                    </MudCard>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}