@using Harmony.Client.Infrastructure.Helper
@if (!_dataLoaded)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="50px" />
    <MudCardContent>
        <MudSkeleton Width="100%" />
        <MudSkeleton Width="100%" />
    </MudCardContent>
}
else if (_branches.Any())
{
    <MudCard Class="mb-2">
        <MudButton StartIcon="@Icons.Custom.Brands.GitHub" Class="mt-2"
                   Variant="Variant.Outlined" FullWidth="true" OnClick="ViewRepositoryActivityDetails"
                   Color="Color.Primary">VIEW DETAILS</MudButton>
        <MudCarousel Class="mud-width-full" Style="height:150px;" ShowArrows="true" ShowBullets="false"
                     EnableSwipeGesture="true" AutoCycle="false" TData="object">
            @foreach (var branch in _branches)
            {
                <MudCarouselItem Transition="Transition.Slide" Color="@Color.Default">

                    <div class="d-flex flex-column flex-column justify-center align-center gap-4" style="height:100%">
                        <MudIcon Class="mx-auto" Icon="@Icons.Material.Filled.AltRoute" Size="@Size.Large" />
                        <MudLink Href="@branch.BranchUrl" Target="_blank">@branch.Name</MudLink>
                    </div>

                </MudCarouselItem>
            }
            @foreach (var pullRequest in _branches.SelectMany(b => b.PullRequests))
            {
                <MudCarouselItem Transition="Transition.Slide" Color="@Color.Dark">

                    <div class="d-flex flex-column flex-column justify-center align-center gap-2" style="height:100%">
                        <MudIcon Class="mx-auto" Icon="@Icons.Material.Filled.Merge" Size="@Size.Large" />
                        <MudLink Href="@pullRequest.HtmlUrl" Target="_blank">@pullRequest.Title</MudLink>
                        <MudChip Size="Size.Small" Color="@ColorHelper.GetPullRequestColor(pullRequest.State)">@pullRequest.State.ToString()</MudChip>
                    </div>

                </MudCarouselItem>
            }
        </MudCarousel>
    </MudCard>
}
